# compiled output
backend/dist
backend/node_modules
backend/*.env

frontend/node_modules
# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/yarn.lock
frontend/.vercel
# next.js
frontend/.next/
frontend/out/
frontend/coverage
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/build
