.Wrap {
   padding: 10px;
   width: 150px;
   height: 40px;
   background-color: #fff;
   border-color: #0000ff;
   color: #0000ff;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid;
   border-radius: 6px 6px 0px 0px;
   border-bottom: none;
}
.act {
   z-index: 1;
   scale: 1.15;
}
