.Wrap {
   position: relative;
   height: 100%;
   .Wrap-sub {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .TextArea {
      padding-top: 25px;
      width: 600px;
      height: 526px;
      margin: 0 auto;
      font-size: 45px;
      overflow: hidden;
      resize: none;
      font-size: 30px;
      &:focus {
         outline: none;
      }
   }

   .Act {
      display: none;
   }
   .NotAct {
      display: block;
   }
   .ReadTextArea {
      padding-top: 25px;
      overflow: hidden;
      width: 600px;
      height: 505px;
      font-size: 30px;
      word-break:break-all
      &:focus {
         outline: none;
      }
   }
   .BTN {
      position: absolute;
      bottom: -10%;
      left: 45%;
   }
}
