.Wrap {
   .TextArea {
      margin-top: 20px;
      width: 100%;
      resize: none;
      height: 50px;
      font-size: 20px;
   }
   .ReadTextArea {
      margin-top: 25px;
      width: 100%;
      resize: none;
      height: 50px;
      font-size: 20px;
   }
   .Act {
      display: block;
   }
   .NotAct {
      display: none;
   }
   .BTN {
      position: absolute;
      bottom: -15px;
      width: 100px;
      height: 30px;
      left: 140px;
      background: inherit;
      border: 1px solid;
   }
}
